*

!*.py
!*.go
!*.c
!*.cpp
!*.java
!*.js
!*.ts
!*.rb
!*.rs
!*.sql

!*.txt

!/LeetCode (en comments)/
!/Yandex. Algorithm 4.0 (ru comments)/
!/Yandex. Algorithm 4.0 (ru comments)/TestCases/

!code.gif
!README.MD