*

!*.py
!*.c
!*.cpp
!*.java
!*.js
!*.ts
!*.rb
!*.rs
!*.sql

!*.txt

!/LeetCode (en comments)/
!/Yandex. Algorithm 4.0 (ru comments)/
!/Yandex. Algorithm 4.0 (ru comments)/TestCases/0_F_elevator
!/Yandex. Algorithm 4.0 (ru comments)/TestCases/0_I_correct_bracket_sequence
!/Yandex. Algorithm 4.0 (ru comments)/TestCases/0_J_group_project

!code.gif
!README.MD